In [1]:
import pandas as pd
import numpy as np
import itertools
import math

In [2]:
data = pd.read_csv("cwurData.csv") #read file
data.head()
#pd.set_option('display.max_rows', 2200)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [3]:
data.dtypes

world_rank                int64
institution              object
country                  object
national_rank             int64
quality_of_education      int64
alumni_employment         int64
quality_of_faculty        int64
publications              int64
influence                 int64
citations                 int64
broad_impact            float64
patents                   int64
score                   float64
year                      int64
dtype: object

In [4]:
# Create new dataframe, groupby 'year' (from 2012 to 2015)
yr12 = data.loc[data['year'] == 2012].set_index(['world_rank'])
yr13 = data.loc[data['year'] == 2013].set_index(['world_rank'])
yr14 = data.loc[data['year'] == 2014].set_index(['world_rank'])
yr15 = data.loc[data['year'] == 2015].set_index(['world_rank'])

In [5]:
# Check any null in dataframe
np.sum(yr12.isnull())

institution               0
country                   0
national_rank             0
quality_of_education      0
alumni_employment         0
quality_of_faculty        0
publications              0
influence                 0
citations                 0
broad_impact            100
patents                   0
score                     0
year                      0
dtype: int64

In [6]:
# Check any null in dataframe
np.sum(yr13.isnull())

institution               0
country                   0
national_rank             0
quality_of_education      0
alumni_employment         0
quality_of_faculty        0
publications              0
influence                 0
citations                 0
broad_impact            100
patents                   0
score                     0
year                      0
dtype: int64

In [7]:
# Check any null in dataframe
np.sum(yr13.isnull())

institution               0
country                   0
national_rank             0
quality_of_education      0
alumni_employment         0
quality_of_faculty        0
publications              0
influence                 0
citations                 0
broad_impact            100
patents                   0
score                     0
year                      0
dtype: int64

In [8]:
# Check any null in dataframe
np.sum(yr15.isnull())

institution             0
country                 0
national_rank           0
quality_of_education    0
alumni_employment       0
quality_of_faculty      0
publications            0
influence               0
citations               0
broad_impact            0
patents                 0
score                   0
year                    0
dtype: int64

In [9]:
# Remove columns
yr12.drop(['institution','country','national_rank','broad_impact','score','year'], axis=1, inplace=True)
yr13.drop(['institution','country','national_rank','broad_impact','score','year'], axis=1, inplace=True)
yr14.drop(['institution','country','national_rank','broad_impact','score','year'], axis=1, inplace=True)
yr15.drop(['institution','country','national_rank','broad_impact','score','year'], axis=1, inplace=True)

In [10]:
# Generate descriptive statistics
yr12.describe()

,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,patents
count,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000
mean,66.42000,75.390000,56.930000,55.020000,54.890000,54.420000,63.65000
std,34.59847,32.615264,34.685966,33.490834,33.401111,33.205263,37.49111
min,1.00000,3.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,33.75000,51.500000,25.750000,25.750000,25.750000,25.750000,27.75000
50%,78.00000,101.000000,53.000000,52.500000,51.500000,51.500000,67.50000
75%,101.00000,101.000000,93.250000,85.250000,91.250000,86.750000,101.00000
max,101.00000,101.000000,101.000000,101.000000,101.000000,101.000000,101.00000

In [11]:
yr13.describe()

,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,patents
count,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,65.760000,75.91000,56.060000,54.670000,56.280000,53.930000,63.550000
std,36.972859,36.03284,34.429204,33.580915,34.530642,32.940183,36.064021
min,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,30.750000,46.50000,25.750000,25.750000,25.750000,25.750000,29.250000
50%,78.000000,101.00000,51.500000,51.000000,52.500000,51.500000,67.000000
75%,101.000000,101.00000,94.250000,89.250000,97.250000,85.750000,101.000000
max,101.000000,101.00000,101.000000,101.000000,101.000000,101.000000,101.000000

In [12]:
yr14.describe()

,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,patents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,292.164000,363.991000,188.002000,500.411000,500.163000,447.349000,448.968000
std,104.464577,152.701345,50.897668,288.734043,288.288391,248.287168,240.503711
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,250.750000,250.750000,210.000000,250.750000,250.750000,250.000000,227.000000
50%,355.000000,478.000000,210.000000,500.500000,500.500000,493.000000,481.000000
75%,355.000000,478.000000,210.000000,750.250000,750.250000,609.000000,737.000000
max,355.000000,478.000000,210.000000,1000.000000,987.000000,800.000000,737.000000

In [13]:
yr15.describe()

,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,patents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,299.839000,406.536000,194.253000,500.419000,500.275000,451.334000,491.674000
std,109.137446,186.782779,53.709214,288.760066,288.465949,252.090134,275.904565
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,250.750000,250.750000,218.000000,250.750000,250.750000,234.000000,250.750000
50%,367.000000,500.500000,218.000000,500.500000,500.500000,428.000000,500.500000
75%,367.000000,567.000000,218.000000,750.000000,750.250000,645.000000,749.000000
max,367.000000,567.000000,218.000000,1000.000000,991.000000,812.000000,871.000000

## Metrics on Fully Ranked Data

In [14]:
## Spearman's rho

def spearmans_rho(x, y):
    
    distance = 0
    
    for i in range(len(x)):
        distance += math.pow(x[i] - y[i], 2)
    
    return math.sqrt(distance)

In [15]:
a = [5,4,2,1,3]
b = [4,3,1,2,5]

In [16]:
spearmans_rho(a,b)

2.8284271247461903

In [17]:
## Spearman's footrule

def spearmans_footrule(x, y):
    
    distance = 0
    
    for i in range(len(x)):
        distance += abs(x[i] - y[i])
        
    return distance

In [18]:
h = [3,4,1,2]
w = [2,4,1,3]

In [19]:
spearmans_footrule(h,w)

2

In [20]:
## Kendall's tau

def kendalls_tau(x, y):
    pairs = itertools.permutations(range(0, len(x)), 2)
    
    distance = 0

    for i, j in pairs:
        if x[i] < x[j] and y[i] > y[j]:
            distance += 1

    return distance

In [21]:
kendalls_tau(h,w)

1

## Metrics on Partially Ranked Data

In [22]:
## Spearman's rho

def spearmans_rho2(pi, rho, k):
    
    n = len(pi)
    s1 = 0
    s3 = 0
    s4 = 0
    
    A = [i for i in range(n) if (pi[i] <= k and rho[i] <= k)]
    B = [i for i in range(n) if (pi[i] <= k and rho[i] > k)]
    D = [i for i in range(n) if (pi[i] > k and rho[i] <= k)]        
    h = len(B)
    s2 = (h**2) * (n-k-h)
    
    p = [pi[j] for j in B]
    p = sorted(p)
    s = [rho[j] for j in D]
    s = sorted(s)

    for i in A:
        s1 += math.pow(pi[i] - rho[i], 2)           

    for j in range(h):
        s3 += math.pow(n + 1 - (j + 1) - p[j], 2) + math.pow(k + (j + 1) - s[j], 2)
        s4 += math.pow(k + (j + 1) - p[j], 2) + math.pow(n + 1 - (j + 1) - s[j], 2)
    
    distance = math.sqrt(s1 + s2 + max(s3,s4))
    
    return distance

In [23]:
x = [2,3,5,1,4]
y = [3,5,4,1,2]

In [24]:
spearmans_rho2(x,y,3)

3.4641016151377544

In [25]:
## Spearman's footrule

def spearmans_footrule2(pi, rho, k):
    
    n = len(pi)
    s2 = 0
    s3 = 0
    s4 = 0
    
    A = [i for i in range(n) if (pi[i] <= k and rho[i] <= k)]
    B = [i for i in range(n) if (pi[i] <= k and rho[i] > k)]
    D = [i for i in range(n) if (pi[i] > k and rho[i] <= k)]        
    h = len(B)
    
    s1 = h * (2*n + 1 - h)
    
    for i in A:
         s2 += abs(pi[i] - rho[i])
    
    for i in B:
        s3 += pi[i]
        
    for i in D:
        s4 += rho[i]
            
    distance = s1 + s2 - s3 - s4
    
    return distance

In [26]:
spearmans_footrule2(x,y,3)

6

In [27]:
## Kendall's tau

def kendalls_tau2(pi, rho, k):
    
    n = len(pi)
    s1 = 0
    s3 = 0
    s4 = 0

    A = [i for i in range(n) if (pi[i] <= k and rho[i] <= k)]
    B = [i for i in range(n) if (pi[i] <= k and rho[i] > k)]
    D = [i for i in range(n) if (pi[i] > k and rho[i] <= k)]        
    h = len(B)
    
    s2 = h * (n + k - (h - 1)/2)

    for i in A:
        for j in A:
            if pi[i] < pi[j] and rho[i] > rho[j]:
                s1 += 1
    
    for i in B:
        s3 += pi[i]
        
    for i in D:
        s4 += rho[i]
            
    distance = s1 + s2 - s3 - s4

    return distance

In [28]:
kendalls_tau2(x,y,3)

3.0

#### FUNCTIONS:

In [29]:
def n_i(pi):

    '''This function takes a list & return the count of each value in the list.'''
    n_i = []
    for i in range(max(pi)+1):
        if pi.count(i) != 0:
            n_i.append(pi.count(i))
            
    return n_i


def N_i(n_i):

    '''This function takes a list n_i of pi & return the value following the partition of {l, ... ,n} 
    to {n1+ ... +n r- l+l, ... ,n}.'''
    N_i = []
    counter = 1
    for i in n_i:
        temp = []
        for j in range(i):
            temp.append(counter)
            counter += 1
        N_i.append(temp)
        
    return N_i


def n_ij(pi,rho):
    
    '''This function takes a list of pi and a list of rho, return the duplicate values from both of the list. 
    Then for i and j in the range of the two lists, the function returns the number of elements if they are 
    in the set of inverse pi(N_i) & inverse rho(N_j).'''
    x = sorted(list(dict.fromkeys(pi)))
    y = sorted(list(dict.fromkeys(rho)))
    
    n_ij = []
    for i in range(len(x)):
        l = []
        for j in range(len(y)):
            s = 0
            for k in range(len(pi)):
                if pi[k] == x[i] and rho[k] == y[j]:
                    s += 1
            l.append(s)
        n_ij.append(l)
        
    return n_ij

## Metrics on Same Types of Partially Ranked Data

In [30]:
## Spearman's rho

def spearmans_rho3(pi, rho):
 
    r = len(n_i(pi))
    s_7 = 0
    s_8 = 0
    
    l = n_i(pi)
    m = n_i(rho)
    n = n_ij(pi,rho)
    
    for i in range(r):
        for j in range(r):
            s1 = sum([l[k] for k in range(i)])
            s2 = sum([m[k] for k in range(j)])
            s3 = sum([n[i][k] for k in range(j)])
            s6 = sum([n[k][j] for k in range(i)])  

            s4 = sum([n[k][j] for k in range(i+1,r)])
            s5 = sum([n[i][k] for k in range(j+1,r)])

            s_7 += n[i][j]*(s1 - s2 + s3 - s4)**2
            s_8 += n[i][j]*(s1 - s2 + s5 - s6)**2
    
    distance = math.sqrt(max(s_7,s_8))
    
    return distance

In [31]:
pi = [1,4,1,4,7,4,1,7]
rho = [1,1,4,1,4,4,7,7]

In [32]:
spearmans_rho3(pi, rho)

8.602325267042627

In [33]:
## Spearman's footrule

def spearmans_footrule3(pi, rho):
    
    r = len(n_i(pi))
    s_7 = 0
    s_8 = 0
    
    l = n_i(pi)
    m = n_i(rho)
    n = n_ij(pi,rho)
        
    for i in range(r):
        for j in range(r):
            s1 = sum([l[k] for k in range(i)])
            s2 = sum([m[k] for k in range(j)])
            s3 = sum([n[i][k] for k in range(j)])
            s6 = sum([n[k][j] for k in range(i)])  

            s4 = sum([n[k][j] for k in range(i+1,r)])
            s5 = sum([n[i][k] for k in range(j+1,r)])

            s_7 += n[i][j]*abs(s1 - s2 + s3 - s4)          
            s_8 += n[i][j]*abs(s1 - s2 + s5 - s6)
    
    distance = max(s_7, s_8)
    
    return distance

In [34]:
spearmans_footrule3(pi,rho)

22

In [35]:
## Kendall's tau

def kendalls_tau3(pi, rho):
    
    n = len(pi)
    r = len(n_i(pi))
    s1 = 0

    n = n_ij(pi,rho)
                
    for i in range(r):
        for j in range(r):
            for i_alt in range(i+1,r):
                for j_alt in range(j+1):
                    s1 += n[i][j] * n[i_alt][j_alt]
    distance = s1
    
    return distance

In [36]:
kendalls_tau3(pi, rho)

12

## Metrics on Different Types of Partially Ranked Data

In [37]:
## Spearman's rho

def spearmans_rho4(pi, rho):
 
    r_1 = len(n_i(pi))
    r_2 = len(n_i(rho))
    s_7 = 0
    s_8 = 0
    
    l = n_i(pi)
    m = n_i(rho)
    n = n_ij(pi,rho)
    
    for i in range(r_1):
        for j in range(r_2):
            s1 = sum([l[k] for k in range(i)])
            s2 = sum([m[k] for k in range(j)])
            s3 = sum([n[i][k] for k in range(j)])
            s6 = sum([n[k][j] for k in range(i)])  
            s4 = sum([n[k][j] for k in range(i+1,r_1)])
            s5 = sum([n[i][k] for k in range(j+1,r_2)])
            
            s_7 += n[i][j]*(s1 - s2 + s3 - s4)**2
            s_8 += n[i][j]*(s1 - s2 + s5 - s6)**2
    
    distance = math.sqrt(max(s_7,s_8))
    
    return distance

In [38]:
x = [1,4,1,4,7,4,1,7]
y = [1,5,3,3,7,1,7,5]

In [39]:
spearmans_rho4(x,y)

8.0

In [40]:
## Spearman's footrule

def spearmans_footrule4(pi, rho):
    
    r_1 = len(n_i(pi))
    r_2 = len(n_i(rho))
    s_7 = 0
    s_8 = 0
    
    l = n_i(pi)
    m = n_i(rho)
    n = n_ij(pi,rho)
        
    for i in range(r_1):
        for j in range(r_2):
            s1 = sum([l[k] for k in range(i)])
            s2 = sum([m[k] for k in range(j)])
            s3 = sum([n[i][k] for k in range(j)])
            s6 = sum([n[k][j] for k in range(i)])
            s4 = sum([n[k][j] for k in range(i+1,r_1)])
            s5 = sum([n[i][k] for k in range(j+1,r_2)])

            s_7 += n[i][j]*abs(s1 - s2 + s3 - s4)          
            s_8 += n[i][j]*abs(s1 - s2 + s5 - s6)
    
    distance = max(s_7, s_8)
    
    return distance

In [41]:
spearmans_footrule4(x,y)

18

In [42]:
## Kendall's tau

def kendalls_tau4(pi, rho):
    
    r_1 = len(n_i(pi))
    r_2 = len(n_i(rho))
    s1 = 0
    s2 = 0
    
    n = n_ij(pi,rho)
                
    for i in range(r_1):
        for j in range(r_2):
            for i_alt in range(i+1,r_1):
                for j_alt in range(j+1):
                    s1 += n[i][j] * n[i_alt][j_alt]
    
    for i in range(r_1):
        for j in range(r_2):
            for i_alt in range(i,r_1):
                for j_alt in range(j):
                    s2 += n[i][j] * n[i_alt][j_alt]
    
    distance = max(s1,s2)
    
    return distance

In [43]:
kendalls_tau4(x,y)

12

### Calculate the Distance of each Feature in Year 2012 (with 100 rankings)

In [44]:
# re-rank each column then convert it into a list
edu_12 = yr12['quality_of_education'].rank(method='min').astype(int).values.tolist()
alu_12 = yr12['alumni_employment'].rank(method='min').astype(int).values.tolist()
fac_12 = yr12['quality_of_faculty'].rank(method='min').astype(int).values.tolist()
pub_12 = yr12['publications'].rank(method='min').astype(int).values.tolist()
inf_12 = yr12['influence'].rank(method='min').astype(int).values.tolist()
cit_12 = yr12['citations'].rank(method='min').astype(int).values.tolist()
pat_12 = yr12['patents'].rank(method='min').astype(int).values.tolist()

In [45]:
import random

e = list(range(1,101))
f = e.copy()

random.shuffle(e)
random.shuffle(f)

##### Spearman's Rho

In [46]:
# Compute two random lists using spearmans_rho4 & set the value as a benchmark
spearmans_rho4(e,f)

434.1796863051057

In [47]:
# Compute all the distance between any two variables in year 2012 using spearmans_rho4
[spearmans_rho4(edu_12, alu_12), spearmans_rho4(edu_12, fac_12), spearmans_rho4(edu_12, pub_12),
 spearmans_rho4(edu_12, inf_12), spearmans_rho4(edu_12, cit_12), spearmans_rho4(edu_12, pat_12)]

[329.2324406859081,
 313.8024856498113,
 409.7096532912057,
 369.2830892418444,
 397.5147795994509,
 396.4870741903196]

In [48]:
[spearmans_rho4(alu_12, fac_12), spearmans_rho4(alu_12, pub_12), spearmans_rho4(alu_12, inf_12), 
 spearmans_rho4(alu_12, cit_12), spearmans_rho4(alu_12, pat_12)]

[405.77333574299826,
 405.3492321443326,
 400.1224812479299,
 386.85139265614646,
 362.9820932222415]

In [49]:
[spearmans_rho4(fac_12, pub_12), spearmans_rho4(fac_12, inf_12), 
 spearmans_rho4(fac_12, cit_12), spearmans_rho4(fac_12, pat_12)]

[331.1917873377901, 302.08608044727913, 329.6331294029773, 376.27915169458964]

In [50]:
[spearmans_rho4(pub_12, inf_12), spearmans_rho4(pub_12, cit_12), spearmans_rho4(pub_12, pat_12)]

[178.39843048636948, 134.2013412749664, 306.0098037645199]

In [51]:
[spearmans_rho4(inf_12, cit_12), spearmans_rho4(inf_12, pat_12)]

[169.5464538113375, 344.7955916191505]

In [52]:
spearmans_rho4(cit_12, pat_12)

315.4013316395478

##### Spearman's Footrule

In [53]:
# Compute two random lists using spearmans_rho4 & set the value as a benchmark
spearmans_footrule4(e,f)

3562

In [54]:
# Compute all the distance between any two variables in year 2012 using spearmans_footrule4
[spearmans_footrule4(edu_12, alu_12), spearmans_footrule4(edu_12, fac_12), spearmans_footrule4(edu_12, pub_12),
 spearmans_footrule4(edu_12, inf_12), spearmans_footrule4(edu_12, cit_12), spearmans_footrule4(edu_12, pat_12)]

[2674, 2408, 3242, 2928, 3150, 3352]

In [55]:
[spearmans_footrule4(alu_12, fac_12), spearmans_footrule4(alu_12, pub_12), spearmans_footrule4(alu_12, inf_12), 
 spearmans_footrule4(alu_12, cit_12), spearmans_footrule4(alu_12, pat_12)]

[3226, 3128, 3098, 2942, 2974]

In [56]:
[spearmans_footrule4(fac_12, pub_12), spearmans_footrule4(fac_12, inf_12), 
 spearmans_footrule4(fac_12, cit_12), spearmans_footrule4(fac_12, pat_12)]

[2670, 2334, 2626, 3052]

In [57]:
[spearmans_footrule4(pub_12, inf_12), spearmans_footrule4(pub_12, cit_12), spearmans_footrule4(pub_12, pat_12)]

[1332, 998, 2418]

In [58]:
[spearmans_footrule4(inf_12, cit_12), spearmans_footrule4(inf_12, pat_12)]

[1232, 2716]

In [59]:
spearmans_footrule4(cit_12, pat_12)

2440

##### Kendall's Tau

In [60]:
# Compute two random lists using kendalls_tau4 & set the value as a benchmark
kendalls_tau4(e,f)

2704

In [61]:
# Compute all the distance between any two variables in year 2012 using kendalls_tau4
[kendalls_tau4(edu_12, alu_12), kendalls_tau4(edu_12, fac_12), kendalls_tau4(edu_12, pub_12),
 kendalls_tau4(edu_12, inf_12), kendalls_tau4(edu_12, cit_12), kendalls_tau4(edu_12, pat_12)]

[1836, 1803, 2553, 2209, 2464, 2330]

In [62]:
[kendalls_tau4(alu_12, fac_12), kendalls_tau4(alu_12, pub_12), kendalls_tau4(alu_12, inf_12), 
 kendalls_tau4(alu_12, cit_12), kendalls_tau4(alu_12, pat_12)]

[2646, 2618, 2593, 2460, 2019]

In [63]:
[kendalls_tau4(fac_12, pub_12), kendalls_tau4(fac_12, inf_12), 
 kendalls_tau4(fac_12, cit_12), kendalls_tau4(fac_12, pat_12)]

[1910, 1693, 1918, 2308]

In [64]:
[kendalls_tau4(pub_12, inf_12), kendalls_tau4(pub_12, cit_12), kendalls_tau4(pub_12, pat_12)]

[904, 675, 1785]

In [65]:
[kendalls_tau4(inf_12, cit_12), kendalls_tau4(inf_12, pat_12)]

[835, 2074]

In [66]:
kendalls_tau4(cit_12, pat_12)

1885

### Calculate the Distance of each feature in Year 2013

In [67]:
# re-rank each column then convert it into a list
edu_13 = yr13['quality_of_education'].rank(method='min').astype(int).values.tolist()
alu_13 = yr13['alumni_employment'].rank(method='min').astype(int).values.tolist()
fac_13 = yr13['quality_of_faculty'].rank(method='min').astype(int).values.tolist()
pub_13 = yr13['publications'].rank(method='min').astype(int).values.tolist()
inf_13 = yr13['influence'].rank(method='min').astype(int).values.tolist()
cit_13 = yr13['citations'].rank(method='min').astype(int).values.tolist()
pat_13 = yr13['patents'].rank(method='min').astype(int).values.tolist()

##### Spearman's Rho

In [68]:
# Compute all the distance between any two variables in year 2013 using spearmans_rho4
[spearmans_rho4(edu_13, alu_13), spearmans_rho4(edu_13, fac_13), spearmans_rho4(edu_13, pub_13),
 spearmans_rho4(edu_13, inf_13), spearmans_rho4(edu_13, cit_13), spearmans_rho4(edu_13, pat_13)]

[377.82270974625123,
 296.97474640110397,
 382.8707353663897,
 360.16385160090675,
 390.3460003637798,
 368.07607909235287]

In [69]:
[spearmans_rho4(alu_13, fac_13), spearmans_rho4(alu_13, pub_13), spearmans_rho4(alu_13, inf_13), 
 spearmans_rho4(alu_13, cit_13), spearmans_rho4(alu_13, pat_13)]

[411.599319727329,
 392.3187479588504,
 395.8636128769604,
 388.57431721615364,
 364.29658247093124]

In [70]:
[spearmans_rho4(fac_13, pub_13), spearmans_rho4(fac_13, inf_13), 
 spearmans_rho4(fac_13, cit_13), spearmans_rho4(fac_13, pat_13)]

[344.8622913569995, 310.6831183054528, 339.31106672196825, 378.1692742674899]

In [71]:
[spearmans_rho4(pub_13, inf_13), spearmans_rho4(pub_13, cit_13), spearmans_rho4(pub_13, pat_13)]

[184.1738309315414, 135.9852933224766, 313.3464536260144]

In [72]:
[spearmans_rho4(inf_13, cit_13), spearmans_rho4(inf_13, pat_13)]

[174.33301465872722, 354.4657952468757]

In [73]:
spearmans_rho4(cit_13, pat_13)

325.963188105651

##### Spearman's footrule

In [74]:
# Compute all the distance between any two variables in year 2013 using spearmans_footrule4
[spearmans_footrule4(edu_13, alu_13), spearmans_footrule4(edu_13, fac_13), spearmans_footrule4(edu_13, pub_13),
 spearmans_footrule4(edu_13, inf_13), spearmans_footrule4(edu_12, cit_13), spearmans_footrule4(edu_13, pat_13)]

[3180, 2270, 3090, 2856, 2564, 3084]

In [75]:
[spearmans_footrule4(alu_13, fac_13), spearmans_footrule4(alu_13, pub_13), spearmans_footrule4(alu_13, inf_13), 
 spearmans_footrule4(alu_13, cit_13), spearmans_footrule4(alu_13, pat_13)]

[3248, 3166, 3196, 3116, 3032]

In [76]:
[spearmans_footrule4(fac_13, pub_13), spearmans_footrule4(fac_13, inf_13), 
 spearmans_footrule4(fac_13, cit_13), spearmans_footrule4(fac_13, pat_13)]

[2824, 2496, 2712, 3026]

In [77]:
[spearmans_footrule4(pub_13, inf_13), spearmans_footrule4(pub_13, cit_13), spearmans_footrule4(pub_13, pat_13)]

[1420, 1022, 2568]

In [78]:
[spearmans_footrule4(inf_13, cit_13), spearmans_footrule4(inf_13, pat_13)]

[1292, 2868]

In [79]:
spearmans_footrule4(cit_13, pat_13)

2650

##### Kendall's Tau

In [80]:
# Compute all the distance between any two variables in year 2013 using kendalls_tau4
[kendalls_tau4(edu_13, alu_13), kendalls_tau4(edu_13, fac_13), kendalls_tau4(edu_13, pub_13),
 kendalls_tau4(edu_13, inf_13), kendalls_tau4(edu_13, cit_13), kendalls_tau4(edu_13, pat_13)]

[2114, 1699, 2433, 2150, 2515, 2127]

In [81]:
[kendalls_tau4(alu_13, fac_13), kendalls_tau4(alu_13, pub_13), kendalls_tau4(alu_13, inf_13), 
 kendalls_tau4(alu_13, cit_13), kendalls_tau4(alu_13, pat_13)]

[2765, 2546, 2531, 2544, 2127]

In [82]:
[kendalls_tau4(fac_13, pub_13), kendalls_tau4(fac_13, inf_13), 
 kendalls_tau4(fac_13, cit_13), kendalls_tau4(fac_13, pat_13)]

[2010, 1785, 1985, 2334]

In [83]:
[kendalls_tau4(pub_13, inf_13), kendalls_tau4(pub_13, cit_13), kendalls_tau4(pub_13, pat_13)]

[947, 681, 1839]

In [84]:
[kendalls_tau4(inf_13, cit_13), kendalls_tau4(inf_13, pat_13)]

[908, 2115]

In [85]:
kendalls_tau4(cit_13, pat_13)

1933

### Calculate the Distance of each feature in Year 2014 (with the top 100 rankings)

In [86]:
# re-rank the top 100 universities and convert into a list
edu_14 = yr14['quality_of_education'][:100].rank(method='min').astype(int).values.tolist()
alu_14 = yr14['alumni_employment'][:100].rank(method='min').astype(int).values.tolist()
fac_14 = yr14['quality_of_faculty'][:100].rank(method='min').astype(int).values.tolist()
pub_14 = yr14['publications'][:100].rank(method='min').astype(int).values.tolist()
inf_14 = yr14['influence'][:100].rank(method='min').astype(int).values.tolist()
cit_14 = yr14['citations'][:100].rank(method='min').astype(int).values.tolist()
pat_14 = yr14['patents'][:100].rank(method='min').astype(int).values.tolist()

##### Spearman's Rho

In [87]:
# Compute all the distance between any two variables in year 2014 using spearmans_rho4
[spearmans_rho4(edu_14, alu_14), spearmans_rho4(edu_14, fac_14), spearmans_rho4(edu_14, pub_14),
 spearmans_rho4(edu_14, inf_14), spearmans_rho4(edu_14, cit_14), spearmans_rho4(edu_14, pat_14)]

[392.6397840260205,
 234.1580662714825,
 338.42281246984516,
 290.86422949548125,
 327.4629750063356,
 382.24599409280927]

In [88]:
[spearmans_rho4(alu_14, fac_14), spearmans_rho4(alu_14, pub_14), spearmans_rho4(alu_14, inf_14), 
 spearmans_rho4(alu_14, cit_14), spearmans_rho4(alu_14, pat_14)]

[401.340254646852,
 354.79853438254224,
 382.2721543612613,
 354.34728727619745,
 335.9821423825975]

In [89]:
[spearmans_rho4(fac_14, pub_14), spearmans_rho4(fac_14, inf_14), 
 spearmans_rho4(fac_14, cit_14), spearmans_rho4(fac_14, pat_14)]

[325.5057603176939, 231.80595333166056, 278.10789273229915, 366.71242138765905]

In [90]:
[spearmans_rho4(pub_14, inf_14), spearmans_rho4(pub_14, cit_14), spearmans_rho4(pub_14, pat_14)]

[190.22092419079453, 176.86152775547316, 297.14306318674176]

In [91]:
[spearmans_rho4(inf_14, cit_14), spearmans_rho4(inf_14, pat_14)]

[156.81836627130127, 331.95481620244647]

In [92]:
spearmans_rho4(cit_14, pat_14)

321.6333316060386

##### Spearman's Footrule

In [93]:
# Compute all the distance between any two variables in year 2014 using spearmans_footrule4
[spearmans_footrule4(edu_14, alu_14), spearmans_footrule4(edu_14, fac_14), spearmans_footrule4(edu_14, pub_14),
 spearmans_footrule4(edu_14, inf_14), spearmans_footrule4(edu_14, cit_14), spearmans_footrule4(edu_14, pat_14)]

[3056, 1686, 2656, 2120, 2554, 3032]

In [94]:
[spearmans_footrule4(alu_14, fac_14), spearmans_footrule4(alu_14, pub_14), spearmans_footrule4(alu_14, inf_14), 
 spearmans_footrule4(alu_14, cit_14), spearmans_footrule4(alu_14, pat_14)]

[3076, 2672, 2836, 2684, 2600]

In [95]:
[spearmans_footrule4(fac_14, pub_14), spearmans_footrule4(fac_14, inf_14), 
 spearmans_footrule4(fac_14, cit_14), spearmans_footrule4(fac_14, pat_14)]

[2580, 1766, 2092, 2850]

In [96]:
[spearmans_footrule4(pub_14, inf_14), spearmans_footrule4(pub_14, cit_14), spearmans_footrule4(pub_14, pat_14)]

[1312, 1286, 2394]

In [97]:
[spearmans_footrule4(inf_14, cit_14), spearmans_footrule4(inf_14, pat_14)]

[1154, 2576]

In [98]:
spearmans_footrule4(cit_14, pat_14)

2396

##### Kendall's Tau

In [99]:
# Compute all the distance between any two variables in year 2014 using kendalls_tau4
[kendalls_tau4(edu_14, alu_14), kendalls_tau4(edu_14, fac_14), kendalls_tau4(edu_14, pub_14),
 kendalls_tau4(edu_14, inf_14), kendalls_tau4(edu_14, cit_14), kendalls_tau4(edu_14, pat_14)]

[2362, 1236, 1958, 1597, 1870, 2267]

In [100]:
[kendalls_tau4(alu_14, fac_14), kendalls_tau4(alu_14, pub_14), kendalls_tau4(alu_14, inf_14), 
 kendalls_tau4(alu_14, cit_14), kendalls_tau4(alu_14, pat_14)]

[2446, 2063, 2271, 2050, 1914]

In [101]:
[kendalls_tau4(fac_14, pub_14), kendalls_tau4(fac_14, inf_14), 
 kendalls_tau4(fac_14, cit_14), kendalls_tau4(fac_14, pat_14)]

[1871, 1280, 1510, 2152]

In [102]:
[kendalls_tau4(pub_14, inf_14), kendalls_tau4(pub_14, cit_14), kendalls_tau4(pub_14, pat_14)]

[971, 922, 1679]

In [103]:
[kendalls_tau4(inf_14, cit_14), kendalls_tau4(inf_14, pat_14)]

[831, 1902]

In [104]:
kendalls_tau4(cit_14, pat_14)

1774

### Calculate the Distance of each feature in Year 2015 (with the top 100 rankings)

In [105]:
# re-rank the top 100 universities and convert into a list
edu_15 = yr15['quality_of_education'][:100].rank(method='min').astype(int).values.tolist()
alu_15 = yr15['alumni_employment'][:100].rank(method='min').astype(int).values.tolist()
fac_15 = yr15['quality_of_faculty'][:100].rank(method='min').astype(int).values.tolist()
pub_15 = yr15['publications'][:100].rank(method='min').astype(int).values.tolist()
inf_15 = yr15['influence'][:100].rank(method='min').astype(int).values.tolist()
cit_15 = yr15['citations'][:100].rank(method='min').astype(int).values.tolist()
pat_15 = yr15['patents'][:100].rank(method='min').astype(int).values.tolist()

##### Spearman's Rho

In [106]:
# Compute all the distance between any two variables in year 2015 using spearmans_rho4
[spearmans_rho4(edu_15, alu_15), spearmans_rho4(edu_15, fac_15), spearmans_rho4(edu_15, pub_15),
 spearmans_rho4(edu_15, inf_15), spearmans_rho4(edu_15, cit_15), spearmans_rho4(edu_15, pat_15)]

[370.04864545083797,
 225.68562204978855,
 332.5056390499265,
 286.9006796785257,
 332.6048706799105,
 371.5238888685356]

In [107]:
[spearmans_rho4(alu_15, fac_15), spearmans_rho4(alu_15, pub_15), spearmans_rho4(alu_15, inf_15), 
 spearmans_rho4(alu_15, cit_15), spearmans_rho4(alu_15, pat_15)]

[402.45745116720104,
 351.2007972656099,
 382.38723828077735,
 363.87360442879066,
 325.2752680423152]

In [108]:
[spearmans_rho4(fac_15, pub_15), spearmans_rho4(fac_15, inf_15), 
 spearmans_rho4(fac_15, cit_15), spearmans_rho4(fac_15, pat_15)]

[328.61831963540925, 222.2566084506825, 284.4749549608893, 369.8621364779044]

In [109]:
[spearmans_rho4(pub_15, inf_15), spearmans_rho4(pub_15, cit_15), spearmans_rho4(pub_15, pat_15)]

[194.6997688750554, 181.81859090863068, 293.33939387678566]

In [110]:
[spearmans_rho4(inf_15, cit_15), spearmans_rho4(inf_15, pat_15)]

[168.63570203251743, 333.4186557467953]

In [111]:
spearmans_rho4(cit_15, pat_15)

331.5901084170033

##### Spearman's Footrule

In [112]:
# Compute all the distance between any two variables in year 2015 using spearmans_footrule4
[spearmans_footrule4(edu_15, alu_15), spearmans_footrule4(edu_15, fac_15), spearmans_footrule4(edu_15, pub_15),
 spearmans_footrule4(edu_15, inf_15), spearmans_footrule4(edu_15, cit_15), spearmans_footrule4(edu_15, pat_15)]

[2862, 1608, 2612, 2092, 2632, 2900]

In [113]:
[spearmans_footrule4(alu_15, fac_15), spearmans_footrule4(alu_15, pub_15), spearmans_footrule4(alu_15, inf_15), 
 spearmans_footrule4(alu_15, cit_15), spearmans_footrule4(alu_15, pat_15)]

[3150, 2684, 2872, 2800, 2470]

In [114]:
[spearmans_footrule4(fac_15, pub_15), spearmans_footrule4(fac_15, inf_15), 
 spearmans_footrule4(fac_15, cit_15), spearmans_footrule4(fac_15, pat_15)]

[2574, 1648, 2144, 2886]

In [115]:
[spearmans_footrule4(pub_15, inf_15), spearmans_footrule4(pub_15, cit_15), spearmans_footrule4(pub_15, pat_15)]

[1370, 1308, 2366]

In [116]:
[spearmans_footrule4(inf_15, cit_15), spearmans_footrule4(inf_15, pat_15)]

[1254, 2626]

In [117]:
spearmans_footrule4(cit_15, pat_15)

2540

##### Kendall's Tau

In [118]:
# Compute all the distance between any two variables in year 2015 using kendalls_tau4
[kendalls_tau4(edu_15, alu_15), kendalls_tau4(edu_15, fac_15), kendalls_tau4(edu_15, pub_15),
 kendalls_tau4(edu_15, inf_15), kendalls_tau4(edu_15, cit_15), kendalls_tau4(edu_15, pat_15)]

[2179, 1186, 1921, 1552, 1906, 2214]

In [119]:
[kendalls_tau4(alu_15, fac_15), kendalls_tau4(alu_15, pub_15), kendalls_tau4(alu_15, inf_15), 
 kendalls_tau4(alu_15, cit_15), kendalls_tau4(alu_15, pat_15)]

[2476, 2033, 2292, 2131, 1833]

In [120]:
[kendalls_tau4(fac_15, pub_15), kendalls_tau4(fac_15, inf_15), 
 kendalls_tau4(fac_15, cit_15), kendalls_tau4(fac_15, pat_15)]

[1890, 1210, 1551, 2195]

In [121]:
[kendalls_tau4(pub_15, inf_15), kendalls_tau4(pub_15, cit_15), kendalls_tau4(pub_15, pat_15)]

[1002, 950, 1645]

In [122]:
[kendalls_tau4(inf_15, cit_15), kendalls_tau4(inf_15, pat_15)]

[882, 1905]

In [123]:
kendalls_tau4(cit_15, pat_15)

1865

### Additional: Calculate the Distance of each Feature in Year 2014 (with 1000 rankings)

In [124]:
# convert each column into a list
edu_2014 = yr14['quality_of_education'].values.tolist()
alu_2014 = yr14['alumni_employment'].values.tolist()
fac_2014 = yr14['quality_of_faculty'].values.tolist()
pub_2014 = yr14['publications'].values.tolist()
inf_2014 = yr14['influence'].values.tolist()
cit_2014 = yr14['citations'].values.tolist()
pat_2014 = yr14['patents'].values.tolist()

In [125]:
import random

w = list(range(1,1001))
z = w.copy()

random.shuffle(w)
random.shuffle(z)

##### Spearman's Rho

In [126]:
# Compute two random lists (ranging 1 to 1000) using spearmans_rho4 & set the value as a benchmark
spearmans_rho4(w,z)

13313.711353337956

In [127]:
# Compute all the distance between any two variables in year 2014 using spearmans_rho4
[spearmans_rho4(edu_2014, alu_2014), spearmans_rho4(edu_2014, fac_2014), spearmans_rho4(edu_2014, pub_2014),
 spearmans_rho4(edu_2014, inf_2014), spearmans_rho4(edu_2014, cit_2014), spearmans_rho4(edu_2014, pat_2014)]

[11156.806442705727,
 10400.169902458325,
 12269.33836846959,
 12095.15291346083,
 11897.624720926442,
 13008.190804258677]

In [128]:
[spearmans_rho4(alu_2014, fac_2014), spearmans_rho4(alu_2014, pub_2014), spearmans_rho4(alu_2014, inf_2014), 
 spearmans_rho4(alu_2014, cit_2014), spearmans_rho4(alu_2014, pat_2014)]

[13509.435739511848,
 11580.432634405332,
 12073.149464824826,
 11224.783115944825,
 11656.839708943415]

In [129]:
[spearmans_rho4(fac_2014, pub_2014), spearmans_rho4(fac_2014, inf_2014), 
 spearmans_rho4(fac_2014, cit_2014), spearmans_rho4(fac_2014, pat_2014)]

[13860.266303357956,
 13670.589526424967,
 13565.060265254999,
 14480.323062694422]

In [130]:
[spearmans_rho4(pub_2014, inf_2014), spearmans_rho4(pub_2014, cit_2014), spearmans_rho4(pub_2014, pat_2014)]

[4994.437105420389, 6807.189140900964, 9210.625277363095]

In [131]:
[spearmans_rho4(inf_2014, cit_2014), spearmans_rho4(inf_2014, pat_2014)]

[6557.879230360986, 9889.956319418201]

In [132]:
spearmans_rho4(cit_2014, pat_2014)

9327.709043489725

##### Spearman's Footrule

In [133]:
# Compute two random lists (ranging 1 to 1000) using spearmans_footrule4 & set the value as a benchmark
spearmans_footrule4(w,z)

348628

In [134]:
# Compute all the distance between any two variables in year 2014 using spearmans_footrule4
[spearmans_footrule4(edu_2014, alu_2014), spearmans_footrule4(edu_2014, fac_2014), 
 spearmans_footrule4(edu_2014, pub_2014), spearmans_footrule4(edu_2014, inf_2014), 
 spearmans_footrule4(edu_2014, cit_2014), spearmans_footrule4(edu_2014, pat_2014)]

[286444, 247166, 307870, 300952, 301458, 335224]

In [135]:
[spearmans_footrule4(alu_2014, fac_2014), spearmans_footrule4(alu_2014, pub_2014), 
 spearmans_footrule4(alu_2014, inf_2014), spearmans_footrule4(alu_2014, cit_2014), 
 spearmans_footrule4(alu_2014, pat_2014)]

[375050, 288908, 299922, 277090, 296492]

In [136]:
[spearmans_footrule4(fac_2014, pub_2014), spearmans_footrule4(fac_2014, inf_2014), 
 spearmans_footrule4(fac_2014, cit_2014), spearmans_footrule4(fac_2014, pat_2014)]

[352162, 345848, 349602, 378500]

In [137]:
[spearmans_footrule4(pub_2014, inf_2014), spearmans_footrule4(pub_2014, cit_2014), 
 spearmans_footrule4(pub_2014, pat_2014)]

[113922, 160488, 223604]

In [138]:
[spearmans_footrule4(inf_2014, cit_2014), spearmans_footrule4(inf_2014, pat_2014)]

[153970, 241806]

In [139]:
spearmans_footrule4(cit_2014, pat_2014)

230348

### Additional: Calculate the Distance of each Feature in Year 2015 (with 1000 rankings)

In [140]:
# convert each column into a list
edu_2015 = yr15['quality_of_education'].values.tolist()
alu_2015 = yr15['alumni_employment'].values.tolist()
fac_2015 = yr15['quality_of_faculty'].values.tolist()
pub_2015 = yr15['publications'].values.tolist()
inf_2015 = yr15['influence'].values.tolist()
cit_2015 = yr15['citations'].values.tolist()
pat_2015 = yr15['patents'].values.tolist()

##### Spearman's Rho

In [141]:
# Compute all the distance between any two variables in year 2015 using spearmans_rho4
[spearmans_rho4(edu_2015, alu_2015), spearmans_rho4(edu_2015, fac_2015), 
 spearmans_rho4(edu_2015, pub_2015), spearmans_rho4(edu_2015, inf_2015), 
 spearmans_rho4(edu_2015, cit_2015), spearmans_rho4(edu_2015, pat_2015)]

[11710.183004547795,
 10461.276881910735,
 12157.203872601627,
 11954.801629470896,
 11795.394779319597,
 13221.168405250724]

In [142]:
[spearmans_rho4(alu_2015, fac_2015), spearmans_rho4(alu_2015, pub_2015), spearmans_rho4(alu_2015, inf_2015), 
 spearmans_rho4(alu_2015, cit_2015), spearmans_rho4(alu_2015, pat_2015)]

[13966.257623286203,
 10926.964171260011,
 11469.378971853706,
 10649.256969385235,
 11568.523501294363]

In [143]:
[spearmans_rho4(fac_2015, pub_2015), spearmans_rho4(fac_2015, inf_2015), 
 spearmans_rho4(fac_2015, cit_2015), spearmans_rho4(fac_2015, pat_2015)]

[13755.471711286385,
 13528.712133828556,
 13422.517275086668,
 14579.810081067586]

In [144]:
[spearmans_rho4(pub_2015, inf_2015), spearmans_rho4(pub_2015, cit_2015), spearmans_rho4(pub_2015, pat_2015)]

[5086.411701779556, 6813.563238130251, 8180.701070201747]

In [145]:
[spearmans_rho4(inf_2015, cit_2015), spearmans_rho4(inf_2015, pat_2015)]

[6542.687215510153, 8818.414596740166]

In [146]:
spearmans_rho4(cit_2015, pat_2015)

9699.4962755805

##### Spearman's Footrule

In [147]:
# Compute all the distance between any two variables in year 2015 using spearmans_footrule4
[spearmans_footrule4(edu_2015, alu_2015), spearmans_footrule4(edu_2015, fac_2015), 
 spearmans_footrule4(edu_2015, pub_2015), spearmans_footrule4(edu_2015, inf_2015), 
 spearmans_footrule4(edu_2015, cit_2015), spearmans_footrule4(edu_2015, pat_2015)]

[311728, 251358, 303810, 296464, 298964, 333928]

In [148]:
[spearmans_footrule4(alu_2015, fac_2015), spearmans_footrule4(alu_2015, pub_2015), 
 spearmans_footrule4(alu_2015, inf_2015), spearmans_footrule4(alu_2015, cit_2015), 
 spearmans_footrule4(alu_2015, pat_2015)]

[386330, 270238, 281610, 258438, 287018]

In [149]:
[spearmans_footrule4(fac_2015, pub_2015), spearmans_footrule4(fac_2015, inf_2015), 
 spearmans_footrule4(fac_2015, cit_2015), spearmans_footrule4(fac_2015, pat_2015)]

[348684, 341390, 340756, 378462]

In [150]:
[spearmans_footrule4(pub_2015, inf_2015), spearmans_footrule4(pub_2015, cit_2015), 
 spearmans_footrule4(pub_2015, pat_2015)]

[116320, 159162, 196078]

In [151]:
[spearmans_footrule4(inf_2015, cit_2015), spearmans_footrule4(inf_2015, pat_2015)]

[153010, 212634]

In [152]:
spearmans_footrule4(cit_2015, pat_2015)

240482